---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="messages_container">
    <div class="message moderator">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2"
        alt="moderator"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/9e3e16ad-44cf-4585-9546-d9cd8992fc98-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 128, 0);"
          >jp__is</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges">
            <img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/511b78a9-ab37-472f-9569-457753bbe7d3/2"
              alt="founder"
            />
          </div><p class="message_currentMessage-text">Mensajes....</p>
        </div>
      </div>
    </div><div class="message viewer">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/8ffb5153-8f28-41de-a629-fee2fbf2dcb4-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 128, 0);"
          >StratoWeen</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            游닉 <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/304486301/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/245/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/28087/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/58765/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/64138/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/25/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/425618/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/41/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message moderator">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2"
        alt="moderator"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img class="message_viewer-avatarImg" src="/assets/quack.gif" /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 128, 0);"
          >jp__is</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges">
            <img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/511b78a9-ab37-472f-9569-457753bbe7d3/2"
              alt="founder"
            />
          </div><p class="message_currentMessage-text">游붅</p>
        </div>
      </div>
    </div><div class="message viewer">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/1d4b03b9-51ea-42c9-8f29-698e3c85be3d/2"
        alt="glitchcon2020"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/ccb78ae8-a55d-4de3-a2a3-d0952388a345-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(255, 105, 180);">BlurSoul_</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message viewer">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="/assets/st-chrisvdev.gif"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(132, 237, 174);">slipknotrammstein86</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            游닉 <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/1/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message viewer">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="/assets/st-chrisvdev.gif"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(218, 165, 32);">EstebanMonte08</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            46
          </p>
        </div>
      </div>
    </div><div class="message viewer">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/1d4b03b9-51ea-42c9-8f29-698e3c85be3d/2"
        alt="glitchcon2020"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/ccb78ae8-a55d-4de3-a2a3-d0952388a345-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(255, 105, 180);">BlurSoul_</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_5d523adb8bbb4786821cd7091e47da21/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message viewer">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="/assets/st-chrisvdev.gif"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 0, 255);"
          >falkendarkness</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            Holas a todos
          </p>
        </div>
      </div>
    </div><div class="message viewer">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/e33e0c67-c380-4241-828a-099c46e51c66/2"
        alt="rplace-2023"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/c6fe75b9-54aa-4b90-871b-26e70c75d52d-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(210, 105, 30);">azidzero</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            Mensajes Nono
          </p>
        </div>
      </div>
    </div><div class="message viewer">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/8ffb5153-8f28-41de-a629-fee2fbf2dcb4-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 128, 0);"
          >StratoWeen</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            游닉 jellouuuuuuu
          </p>
        </div>
      </div>
    </div><div class="message moderator">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2"
        alt="moderator"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/9e3e16ad-44cf-4585-9546-d9cd8992fc98-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 128, 0);"
          >jp__is</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges">
            <img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/511b78a9-ab37-472f-9569-457753bbe7d3/2"
              alt="founder"
            />
          </div><p class="message_currentMessage-text">
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message viewer">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="/assets/st-chrisvdev.gif"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(185, 196, 250);">slipknotrammstein86</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            游닉 aaaaa <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/1/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message moderator">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2"
        alt="moderator"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/9e3e16ad-44cf-4585-9546-d9cd8992fc98-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="/assets/st-chrisvdev.gif"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 128, 0);"
          >jp__is</span>
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges">
            <img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/511b78a9-ab37-472f-9569-457753bbe7d3/2"
              alt="founder"
            />
          </div><p class="message_currentMessage-text">47</p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

  body {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .messages_container {
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.625rem;
    border: 0.125rem solid #00ff00;
    box-shadow: 0 0 0.625rem rgba(0, 255, 0, 0.5);
    border-radius: 0.625rem;
  }
  .message {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    flex-direction: column;
    align-items: start;
  }

  .message_viewer-name {
    margin-left: 0.25rem;
  }

  .message_userBadge {
    display: none;
  }

  .message_userBadge-primary {
    z-index: 1;
  }

  .message_viewer {
    display: flex;
  }
  .message_currentMessage-box {
    color: #cccccc;
    display: flex;
  }

  .message_viewer-avatar {
    display: none;
  }

  .message_viewer-avatarImg {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    border-radius: 9999px;
    margin-right: 0.5rem;
  }

  .message_currentMessage-otherViewerBadges {
    display: none;
  }

  .message_viewer-name::after {
    content: ">>> print(";
    margin: 0 0.25rem;
    color: #cccccc !important;
  }
  .message_userBadge-primary {
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
  }

  .message_currentMessage-text {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .message_currentMessage-text::before {
    content: "'";
  }
  .message_currentMessage-text::after {
    content: "')";
  }

  .newMessage .message_currentMessage-text::after {
    content: "_";
    animation: cursor 250ms linear infinite;
  }

  .message_viewer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message_viewer-defaultImg {
    position: absolute;
    top: 0;
  }

  .message_currentMessage-otherViewerBadges {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
  }

  .message_currentMessage-otherViewerBadges:has(> img)::after {
    content: ">";
    margin-left: 0.25rem;
    color: #9146ff;
  }
  .message_currentMessage-otherViewerBadges:has(> img)::before {
    content: "<";
    margin-right: 0.25rem;
    color: #9146ff;
  }

  .message_userBadge-others {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .message_viewer-name {
    color: #cccccc !important;
  }

  .moderator .message_viewer-name {
    color: #0f0 !important;
  }

  .vip .message_viewer-name {
    color: #e005b9 !important;
  }
  .broadcaster .message_viewer-name {
    color: #f00 !important;
  }
  .subscriber .message_viewer-name {
    color: #8205b4 !important;
  }

  @keyframes cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
    }
  }
</style>

<!-- 

body { 
  padding: 1rem; 
  background-color: rgba(0, 0, 0, 0); 
  margin: 0px auto; 
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid #00FF00;
  border-radius: 10px;
  z-index: -1; 
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

 -->
