---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="messages_container">
    <div class="message viewer">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 0, 255);"
          >falkendarkness</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            e4 como me conoces coon eel cubatilla
          </p>
        </div>
      </div>
    </div><div class="message viewer">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 0, 255);"
          >falkendarkness</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            jejejej
          </p>
        </div>
      </div>
    </div><div class="message vip">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/2"
        alt="vip"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(202, 216, 248);">e4yttuh</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            📢 ¿Violencia? Pero si yo ssolamente te quería pedir la hora <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/25/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message viewer">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 255, 127);"
          >eduardo_mc21</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            ♫♫♫♫
          </p>
        </div>
      </div>
    </div><div class="message vip">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/2"
        alt="vip"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/86bd7a3b-b42f-4463-a428-e3f8d0614208-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(138, 43, 226);">ManzDev</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges">
            <img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/5d9f2208-5dd8-11e7-8513-2ff4adfae661/2"
              alt="subscriber"
            /><img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/d12a2e27-16f6-41d0-ab77-b780518f00a3/2"
              alt="partner"
            />
          </div><p class="message_currentMessage-text">
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_dcd06b30a5c24f6eb871e8f5edbd44f7/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message subscriber">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/f48b9161-e71a-4da1-99e9-b4529757f081-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 255, 127);"
          >DHardySD</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_09dd55aae5764888b4236fced89ed45e/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/300116349/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/300116349/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message broadcaster">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2"
        alt="moderator"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/e0f57569-a65d-4912-822b-a8c6009282a9-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(154, 205, 50);">pythonesa</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            📢 que manden html dijo <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_ee7102479184406fb8636b21501b63a3/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_ee7102479184406fb8636b21501b63a3/default/dark/2.0"
            />
            <img
              class="mx-1 w-8 h-8 aspect-square object-cover"
              src="https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_ee7102479184406fb8636b21501b63a3/default/dark/2.0"
            />
          </p>
        </div>
      </div>
    </div><div class="message moderator">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2"
        alt="moderator"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/9e3e16ad-44cf-4585-9546-d9cd8992fc98-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://obs-chat.christianvillegas.com/?channel=chrisvdev&tts=true&render=true&pato_bot=true&default_avatar=https%3A%2F%2Fstatic-cdn.jtvnw.net%2Fjtv_user_pictures%2F81d6dc2a-1378-45f2-898a-02bee1aff39d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span class="message_viewer-name" style="color: rgb(0, 128, 0);"
          >jp__is</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges">
            <img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/511b78a9-ab37-472f-9569-457753bbe7d3/2"
              alt="founder"
            />
          </div><p class="message_currentMessage-text">
            📢 Do sunt exercitation sint labore anim quis minim cillum
            exercitation minim fugiat. Et voluptate nostrud adipisicing.
            Cupidatat officia nulla est laboris sunt. Nisi occaecat irure irure.
            Officia non nostrud irure et cillum mollit nostrud labore nostrud
            officia. Exercitation elit aliqua mollit irure. Amet consequat duis
            tempor ipsum velit et quis. Quis minim veniam mollit minim cillum
            elit laboris aliquip sunt sunt minim tempor ex ullamco culpa.
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

  body {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .messages_container {
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0.625rem;
    border: 0.125rem solid #00ff00;
    box-shadow: 0 0 0.625rem rgba(0, 255, 0, 0.5);
    border-radius: 0.625rem;
  }
  .message {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    flex-direction: column;
    align-items: start;
  }

  .message_viewer-name {
    margin-left: 0.25rem;
  }

  .message_userBadge {
    display: none;
  }

  .message_userBadge-primary {
    z-index: 1;
  }

  .message_viewer {
    display: flex;
  }
  .message_currentMessage-box {
    color: #cccccc;
    display: flex;
  }

  .message_viewer-avatar {
    display: none;
  }

  .message_viewer-avatarImg {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    border-radius: 9999px;
    margin-right: 0.5rem;
  }

  .message_currentMessage-otherViewerBadges {
    display: none;
  }

  .message_viewer-name::after {
    content: ">>> print(";
    margin: 0 0.25rem;
    color: #cccccc !important;
  }
  .message_userBadge-primary {
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
  }

  .message_currentMessage-text {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .message_currentMessage-text::before {
    content: "'";
  }
  .message_currentMessage-text::after {
    content: "')";
  }

  .newMessage .message_currentMessage-text::after {
    content: "_";
    animation: cursor 250ms linear infinite;
  }

  .message_viewer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message_viewer-defaultImg {
    position: absolute;
    top: 0;
  }

  .message_currentMessage-otherViewerBadges {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
  }

  .message_currentMessage-otherViewerBadges:has(> img)::after {
    content: ">";
    margin-left: 0.25rem;
    color: #9146ff;
  }
  .message_currentMessage-otherViewerBadges:has(> img)::before {
    content: "<";
    margin-right: 0.25rem;
    color: #9146ff;
  }

  .message_userBadge-others {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .message_viewer-name {
    color: #cccccc !important;
  }

  .moderator .message_viewer-name {
    color: #0f0 !important;
  }

  .vip .message_viewer-name {
    color: #e005b9 !important;
  }
  .broadcaster .message_viewer-name {
    color: #f00 !important;
  }
  .subscriber .message_viewer-name {
    color: #8205b4 !important;
  }

  @keyframes cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
    }
  }
</style>

<!-- 

body { 
  padding: 1rem; 
  background-color: rgba(0, 0, 0, 0); 
  margin: 0px auto; 
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid #00FF00;
  border-radius: 10px;
  z-index: -1; 
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

 -->
