---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="messages_container">
    <div class="message newMessagedieingMessage moderator new">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/2"
        alt="moderator"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/e0f57569-a65d-4912-822b-a8c6009282a9-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(154, 205, 50);">pythonesa</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            📢 falken es mi hijo y lo quiero!
          </p>
        </div>
      </div>
    </div>
    <div class="message newMessagedieingMessage viewer">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/e33d8b46-f63b-4e67-996d-4a7dcec0ad33/2"
        alt="predictions"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
            style="display: none;"
          />
        </div>
        <span class="message_viewer-name" style="color: rgb(148, 139, 187);"
          >ripsnakemdq</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            dale Chris que es viernes de estilear
          </p>
        </div>
      </div>
    </div><div class="message newMessagedieingMessage vip">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/e33d8b46-f63b-4e67-996d-4a7dcec0ad33/2"
        alt="predictions"
      />
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/d06f078a-0e2a-4eaf-9f23-64070d3e9b37-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(30, 144, 255);">odraciRdev</span
        >
      </div>
      <div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges">
            <img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/2"
              alt="vip"
            />
          </div><p class="message_currentMessage-text">¿Qué decimos?</p>
        </div>
      </div>
    </div><div class="message newMessagedieingMessage broadcaster">
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(186, 196, 245);">andresc104</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            📢 Cosas
          </p>
        </div>
      </div>
    </div><div class="message newMessagedieingMessage viewer">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/e33d8b46-f63b-4e67-996d-4a7dcec0ad33/2"
        alt="predictions"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(139, 185, 215);">ripsnakemdq</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            uff
          </p>
        </div>
      </div>
    </div><div class="message newMessagedieingMessage subscriber">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/e33d8b46-f63b-4e67-996d-4a7dcec0ad33/2"
        alt="predictions"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/d06f078a-0e2a-4eaf-9f23-64070d3e9b37-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(30, 144, 255);">odraciRdev</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges">
            <img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/2"
              alt="vip"
            />
          </div><p class="message_currentMessage-text">No estudié</p>
        </div>
      </div>
    </div>
    <div class="message newMessagedieingMessage vip">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/e33d8b46-f63b-4e67-996d-4a7dcec0ad33/2"
        alt="predictions"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/jtv_user_pictures/d06f078a-0e2a-4eaf-9f23-64070d3e9b37-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(30, 144, 255);">odraciRdev</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges">
            <img
              class="message_userBadge message_userBadge-others"
              src="https://static-cdn.jtvnw.net/badges/v1/b817aba4-fad8-49e2-b88a-7cc744dfa6ec/2"
              alt="vip"
            />
          </div><p class="message_currentMessage-text">Tengo sed</p>
        </div>
      </div>
    </div><div class="message newMessagedieingMessage viewer">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/e33d8b46-f63b-4e67-996d-4a7dcec0ad33/2"
        alt="predictions"
      /><div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
          /><img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(133, 219, 215);">ripsnakemdq</span
        >
      </div><div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div><p
            class="message_currentMessage-text"
          >
            empezamos a subir el contador
          </p>
        </div>
      </div>
    </div><div class="message newMessagedieingMessage viewer">
      <img
        class="message_userBadge message_userBadge-primary"
        src="https://static-cdn.jtvnw.net/badges/v1/e33d8b46-f63b-4e67-996d-4a7dcec0ad33/2"
        alt="predictions"
      />
      <div class="message_viewer">
        <div class="message_viewer-avatar">
          <img
            class="message_viewer-avatarImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
          />
          <img
            class="message_viewer-avatarImg message_viewer-defaultImg"
            src="https://static-cdn.jtvnw.net/user-default-pictures-uv/ead5c8b2-a4c9-4724-b1dd-9f00b46cbd3d-profile_image-70x70.png"
            style="display: none;"
          />
        </div><span
          class="message_viewer-name"
          style="color: rgb(198, 207, 235);">ripsnakemdq</span
        >
      </div>
      <div class="message_currentMessage-container">
        <div class="message_currentMessage-box">
          <div class="message_currentMessage-otherViewerBadges"></div>
          <p class="message_currentMessage-text">7</p>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
  .messages_container {
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    flex-direction: column-reverse;
  }
  .message {
    display: flex;
    align-items: center;
    margin: 0.5rem;
  }

  .message_viewer-name {
    font-weight: bold;
  }

  .message_userBadge {
    --size: 1rem;
    width: var(--size);
    height: var(--size);
  }

  .message_userBadge-primary {
    z-index: 1;
  }

  .message_viewer {
    display: flex;
  }
  .message_currentMessage-box {
    color: #cccccc;
    display: flex;
  }

  .message_viewer-avatar {
    position: relative;
  }

  .message_viewer-avatarImg {
    --size: 2rem;
    width: var(--size);
    height: var(--size);
    border-radius: 9999px;
    margin-right: 0.5rem;
  }

  .message_currentMessage-otherViewerBadges {
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
  }

  .message_currentMessage-otherViewerBadges::after {
    content: ">";
    margin: 0 0.25rem;
  }
  .message_userBadge-primary {
    position: absolute;
    transform: translate(1.25rem, 0.75rem);
  }

  .new .message_currentMessage-text::after {
    content: "_";
    animation: cursor 250ms linear infinite;
  }

  .message_viewer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message_viewer-defaultImg {
    position: absolute;
    top: 0;
  }

  @keyframes cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0;
    }
  }
</style>
