---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article
    class:list={[
      "text-gray-300 font-medium max-w-lg mx-auto px-3 my-12 marker:text-gray-400",
      "[&_h2]:mb-4 [&_h2]:mt-8 [&_h2]:font-bold [&_h2]:text-2xl [&_h2]:text-white",
      "[&_p]:mb-8",
      "[&_a]:text-blue-300 [&_a]:font-semibold [&_a]:underline hover:[&_a]:no-underline",
      "[&_ol]:ml-4 [&_ol]:list-decimal [&_ol>li]:font-normal [&_ol>li]:m-1",
      "[&_ul]:ml-4 [&_ul]:list-decimal [&_ul>li]:font-normal [&_ul>li]:m-1",
      "[&_code]:bg-blue-900 [&_code]:font-semibold [&_code]:text-white [&_code]:text-sm [&_code]:px-2 [&_code]:py-0.5 [&_code]:rounded",
    ]}
  >
    <h1 class="my-8 font-bold text-4xl text-white">How to Contribute</h1>

    <p>
      Thank you for your interest in contributing to the development of our
      application! Your help is essential to make it even better. Here's how you
      can participate and contribute to the project effectively:
    </p>

    <h2>Clone the Repository and Modify the Code</h2>

    <p>
      To get started, you need a local copy of our code repository. This will
      allow you to make changes and improvements to the application. Follow
      these steps:
    </p>

    <ol>
      <li>
        Fork <a href="https://github.com/chrisvdev/obs-chat">the repository</a>
         to your own GitHub account.
      </li>
      <li>
        <span class="block">
          Clone your repository to your local machine using the following
          command:
        </span>
        <code>git clone https://github.com/chrisvdev/obs-chat</code>
      </li>
      <li>Make the modifications and improvements you wish in the code.</li>
      <li>
        Push your changes to your repository using <code>git commit</code> and <code
          >git push</code
        >.
      </li>
      <li>
        Finally, create a <a
          href="https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests"
        >
          pull request
        </a> to suggest your changes to the main repository. Our team will
        review your contributions and incorporate them if they are appropriate.
      </li>
    </ol>

    <h2>Report Issues, Suggest Changes, or New Features</h2>

    <p>
      If you encounter bugs or have ideas to enhance the application, you can
      use the "Issues" section in our repository to communicate it. Follow these
      steps:
    </p>

    <ol>
      <li>
        Go to the <a
          href="https://docs.github.com/en/github/managing-your-work-on-github/managing-your-work-with-issues-and-projects/about-issues"
        >
          Issues
        </a> section in our repository.
      </li>
      <li>Click "New Issue" to create a new "Issue".</li>
      <li>
        Describe the problem or your suggestion in detail. The more information
        you provide, the better we can understand and address the issue or
        evaluate the idea.
      </li>
    </ol>

    <h2>Recommend the Application to Friends or Use It Yourself</h2>

    <p>
      You can contribute not only technically but also by promoting the
      application. You can do this in the following ways:
    </p>

    <ul>
      <li>
        Recommend the application to your friends, streamers, or contacts who
        may be interested in using it.
      </li>
      <li>
        Use it yourself and share your experience. The more people who use it,
        the more feedback and potential improvements we can receive.
      </li>
    </ul>

    <h2>How to Add Your Own Skin to the Application:</h2>

    <ol>
      <li>
        Step 1: Access the Template on CodePen Open your web browser and go to
        the demonstration <a href="https://codepen.io/chrisvill2312/pen/vYvPrKK"
          >template on CodePen</a
        >. Make sure you are viewing the template's editing interface.
      </li>
      <li>
        Step 2: Modify the Template Style Edit the template's CSS to customize
        it with your own style. You can modify colors, fonts, sizes, and any
        other visual aspects according to your preferences. Ensure that the
        preview reflects your changes.
      </li>
      <li>
        Step 3: Save Your Changes on CodePen Click the "Save" button at the top
        of the page to save your modifications on CodePen. Assign a unique name
        to your customized version of the template.
      </li>
      <li>
        Step 4: Create a Repository on GitHub, Open GitHub (if you don't have an
        account, sign up for free). Log in to your GitHub account. In your
        GitHub dashboard, click the "New" button to create a new repository.
        Make sure the repository is public so that others can access it.
      </li>
      <li>
        Step 5: Add Your CSS to GitHub After creating the repository, you will
        find instructions for uploading files. Follow those instructions to
        upload the CSS file you modified on CodePen. Once you've uploaded the
        CSS file, confirm the upload.
      </li>
      <li>
        Step 6: Get the URL of the CSS File on GitHub Go to the CSS file you
        uploaded in your repository. Click on the file to open it. At the top,
        you will find a button that says "Raw." Click on it to open the file in
        its raw format. Copy the URL from the browser's address bar. This URL
        will be what others use to access your CSS file.
      </li>
      <li>
        Step 7: Use the Custom Skin in the Application Now that you have the URL
        of the CSS file on GitHub, you can use it in your application. The web
        assistant provides a field for users to enter the URL of their custom
        CSS file from GitHub. When you click "generate URL," it will include
        your skin in the configuration.
      </li>
    </ol>

    <p>
      With these steps, users can customize the appearance of your application
      using their own CSS and sharing the link to their GitHub repository.
    </p>

    <blockquote class="border-l-2 border-l-gray-400 px-4 my-8 text-lg">
      Your contribution is valuable and appreciated! We are excited to work
      together to make our application an exceptional product. Thank you for
      being part of our development team!
    </blockquote>
  </article>
</Layout>
