---
import Layout from "../layouts/Layout.astro";
import SliderSelect, {
  type Options,
} from "@/components/sliderSelect/slider_select";

const options: Options = ["Off", "By !speak", "Always On"];
---

<Layout>
  <div class="w-full h-[50svh] flex items-center p-4">
    <SliderSelect options={options} defaultName="TTS" client:load />
  </div>
</Layout>
