---
import Button from "./Button.astro";
---

<nav class="flex justify-center gap-6 m-4 p-2">
  <Button href="/#" className="hidden sm:flex">Home</Button>
  <Button href="/start">Get Started</Button>
  <Button href="/involved">Get Involved</Button>
</nav>
