---
import Button from "./Button.astro";
---

<nav class="flex justify-center gap-6 m-4 p-2">
  <Button href="/CVTalk/#" className="hidden sm:flex">Home</Button>
  <Button href="/CVTalk/start">Get Started</Button>
  <Button href="/CVTalk/involved">Get Involved</Button>
</nav>
