---
import Nav from "../components/Nav.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CVTalk - Chat View Talk</title>
    <link rel="icon" href="./assets/favicon.webp" />
    <ViewTransitions />
  </head>
  <body class="bg-zinc-950 text-zinc-100 font-inter">
    <slot name="bg" />
    <div class="relative max-w-[64rem] mx-auto">
      <Nav />
      <slot />
    </div>
    <style>
      @font-face {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        src:
          url(/assets/fonts/inter-latin-variable-wghtOnly-normal.woff2)
            format("woff2-variations"),
          url(/assets/fonts/inter-latin-400-normal.woff2) format("woff2"),
          url(/assets/fonts/inter-latin-400-normal.woff) format("woff");
        unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
          u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212,
          u+2215, u+feff, u+fffd;
      }

      /**
       * Personalizar scrollbar
      */
      body::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        @apply bg-zinc-950 transition-colors;
      }

      body::-webkit-scrollbar-thumb {
        @apply bg-zinc-600;
        border-radius: 0.25rem;
      }

      @media (any-hover: hover) {
        body::-webkit-scrollbar-thumb:hover {
          @apply bg-zinc-500;
        }
      }

      /**
       * Personalizar scrollbar en Firefox
       */
      html,
      body {
        scrollbar-color: #52525b #09090b;
        scrollbar-width: thin;
      }

      /**
       * Hacer que la barra de scroll tenga un tamaño estable
       */
      html,
      body {
        scrollbar-gutter: stable;
      }
    </style>
  </body>
</html>
